langchain_community
python-dotenv
streamlit
langchain
groq
faiss-cpu
huggingface_hub
bs4
sentence-transformers
pypdf
newspaper3k
beautifulsoup4
requests
lxml
lxml_html_clean
Pillow
chromadb
validators